* {
  margin: 0;
  padding: 0;
  color: white;
}

.chat-container{
  border: 1px solid white;
}

.messages{
  height: 60vh;
  overflow: auto;
}

.messages li{
  list-style: none;
}

.low-opacity{
  font-size: .8em;
  color: rgba(255, 255, 255, .5);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9146ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
